################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
.angular
.git
.vs
bin
obj
packages
PrecompiledWeb
