<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- This web.config will be merged with the parent one so we only need to set the differences (in this case, the PdfIntegrationProvider) -->
    <remove key="RadPdfIntegrationProvider"/>
    <add key="RadPdfIntegrationProvider" value="NoServicePdfIntegrationProvider,App_Code"/>
  </appSettings>
</configuration>
