@page

@{
    ViewBag.Title = "RAD PDF Samples";
}

<h1>RAD PDF Samples</h1>
<ul>
    <li><a href="/Basic/">Basic</a> (requires <a href="https://www.radpdf.com/RadPdfDocumentation/html/db15338c-0b76-4f4c-aa32-b4ea6f26b4a0.htm" target="_blank">a SQL Server database</a>)</li>
    <li><a href="/Customized/">Customized</a></li>
    <li><a href="/Lite/">Lite</a> (NoSQL)</li>
    <li><a href="/RenderAtClient/">Render At Client</a></li>
</ul>
